<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CockinfoMapper">

<!-- Cocktail_info 전체 데이터 가져오기-->
<!-- Cocktail_Info, CockDAO, reccommend.jsp, CockinfoMapper,
	 MemberMapper, CockTail_Controller  -->
	<select id="info_List" resultType="com.smhrd.model.Cocktail_Info">
		select * from tb_cocktail_info order by cocktail_img
	</select>

</mapper>