*{
    list-style : none;
    text-decoration: none; /* a태그 밑줄 없애줌 */
    border-collapse: collapse;
    margin: 0px;
    padding:0px;
    color: #000;
    }
    
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    margin-top: 20px;
}

.inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10%;
}


.logo a {
    text-decoration: none;
    font-size: 24px;
    color: #333;
}
.people span {
        font-size: 10px;
}

.list {
    margin-top: 10px;
}

.people span {
    display: block;
    margin: 5px 0;
}

/* 반응형 디자인 */
@media (max-width: 1000px) {
    .logo a {
        font-size: 24px;
    }

    .people span {
        font-size: 10px;
    }
}

.logo img {
    width: 150px; /* 원하는 너비로 설정 */
    height: auto; /* 비율 유지 */
}
   
    